<div class="content-div" fxLayoutAlign="center center">

  <form fxLayoutAlign="center center" fxLayout="column" class="currency-form" [formGroup]="currencyForm"
    (ngSubmit)="requestValue()" novalidate>
    <div fxLayout="row" fxLayout.xs="column">
      <mat-form-field class="currency-field" appearance="outline">
        <mat-label>EUR amount</mat-label>
        <input matInput type="text" formControlName="source" placeholder="EUR" prefix="&#36; "
          mask="comma_separator.4" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear"
          (click)="clearInput()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field disabled class="currency-field" appearance="outline">
        <mat-label>USD amount</mat-label>
        <input matInput type="text" formControlName="target" placeholder="EUR" prefix="&euro; "
          mask="comma_separator.4" />
      </mat-form-field>
    </div>
    <button style="margin-left: 5px; width: 100%" mat-raised-button color="primary" type="submit"
      [disabled]="!currencyForm.valid">Calculate</button>

  </form>
</div>