<!--HEADER DIV.-->
<div class="header">
  <img class="main-img" width="100" alt="Angular Logo" src="../assets/icons/exchange.svg">
</div>

<nav fxLayoutAlign="center center" mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<!--CONTENT DIV.-->
<router-outlet style="min-height: 40%"></router-outlet>

<!--FOOTER DIV.-->
<div class="footer" fxLayout="row" fxLayout.xs="column">
  <div class="sub-footer" fxLayout="row">
    <div class="footer-col" fxLayout="column">
      <h3>MoneyXChange &trade;</h3>
      <span>Changing the way to exchange currencies</span>
    </div>
    <div class="footer-col" fxLayout="column">
      <h3>Contact</h3>
      <span>(+39) 3275842658</span>
      <span>Via Ugo Tommei 7</span>
      <span>Milan MI</span>
      <span>Italy</span>
    </div>
  </div>
  <div class="sub-footer" fxLayout="row">
    <div class="footer-col" fxLayout="column">
      <h3>Legal</h3>
      <span>Terms of use</span>
      <span>Privacy policy</span>
      <span>Cookie Policy</span>
      <span>Corporate Informacion</span>
    </div>
    <div class="footer-col" fxLayout="column">
      <h3>Join the conversation!</h3>
      <div fxLayout="row">
        <i class="fa fa-facebook-official hover-opacity social-button"></i>
        <i class="fa fa-instagram hover-opacity social-button"></i>
        <i class="fa fa-snapchat hover-opacity social-button"></i>
        <i class="fa fa-pinterest-p hover-opacity social-button"></i>
        <i class="fa fa-twitter hover-opacity social-button"></i>
        <i class="fa fa-linkedin hover-opacity social-button"></i>
      </div>
    </div>
  </div>
</div>
<div class="credits">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
    href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>